* {
    margin: 0 auto;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 79.9vh;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
}

.nav {
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

li {
    list-style: none;
    transition: .3s ease-in-out;
}

li:hover {
    transform: translateY(-3px);
}

.logo {
    height: 10vh;
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.list {
    text-decoration: none;
}

aside {
    width: 100%;
    height: 100%;
    background-image: url(./assets/menor.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11.8em;
}

a{
    margin-top: 25em;
    margin-left: 45%;
}

#btn {
    width: 245px;
    height: 60px;
    background-color: #326DC5;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#btn:hover{
    background-color: rgb(66, 121, 202);
}

#ini{
    position: relative;
    bottom: 20%;
}

#mensagens{
    position: relative;
    bottom: 25%;
    right: 28%;
    font-size: large;
}
