* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{overflow: hidden;}
  
  #AreaBranca{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.a2{
padding-left: 180vh;
padding-top: 1em;
}

.a3
{
    position: relative;
    bottom: 2.25em; 
    padding-left: 155vh;


}

.azin{
    position: relative;
    bottom: 1.1em; 
    padding-left: 170vh;

}

  #background{  
    margin-top: 28vh;
    width: 100%;
    height: 26.58vh;
    background-image: url(./assets/img.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #botao{
    margin-top: 40vh;
    background-color: #326DC5;
    border-radius: 10px;
    padding: 0px;
    border: none;
    cursor: pointer;
    transition: .3s;
    color: white;
    width: 400px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
  }
  
  /* Animação do botão aqui */
  
  .button {
    position: relative;
    border: none;
    background: transparent;
    --stroke-color: #0000007c;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg,#326DC5,#ffffff,#326DC5);
    letter-spacing: 3px;
    font-size: 1em;
    font-family: "Arial";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    cursor: pointer;
  }
    
    .front-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background: var(--color-gar);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    overflow: hidden;
    transition: all 1s;
    animation: 8s ani infinite;
    border-bottom: 2px solid transparent;
  }
    
  .button:hover .front-text {
    width: 100%;
    border-bottom: 1px solid #03a9f4;
    -webkit-text-stroke: 1px var(--ani-color);
  }
    
  @keyframes ani {
    0% {
      background-position: 0%;
    }
    
    50% {
      background-position: 400%;
    }
    
    100% {
      background-position: 0%;
    }
  }
    