* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#AreaBranca{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background{  
    margin-top: 20%;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/img.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#botao{
    margin-top: 40vh;
    background-color: #fa1e1e;
    border-radius: 10px;
    padding: 0px;
    border: none;
    cursor: pointer;
    transition: .3s;
    color: white;
    width: 400px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
}

#feedback{
    padding-bottom: 100px;
}